<%= form_for(@band_member) do |f| %>
  <% if @band_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band_member.errors.count, "error") %> prohibited this band_member from being saved:</h2>

      <ul>
      <% @band_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :instrument %><br>
    <%= f.text_field :instrument %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
