<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band_member.name %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @band_member.instrument %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @band_member.bio %>
</p>

<%= link_to 'Edit', edit_band_member_path(@band_member) %> |
<%= link_to 'Back', band_members_path %>
